body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:960px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:22px;
  top:40px;
  width:80px;
  height:25px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:105px;
  top:40px;
  width:282px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:92px;
  top:134px;
  width:120px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  position:absolute;
  left:222px;
  top:134px;
  width:60px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:317px;
  top:132px;
  width:84px;
  height:26px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:430px;
  top:132px;
  width:73px;
  height:26px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:526px;
  top:132px;
  width:94px;
  height:26px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:22px;
  top:130px;
  width:70px;
  height:30px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:431px;
  top:43px;
  width:37px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:613px;
  top:43px;
  width:38px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:22px;
  top:80px;
  width:80px;
  height:25px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:105px;
  top:80px;
  width:177px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:469px;
  top:40px;
  width:132px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:658px;
  top:40px;
  width:132px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:430px;
  top:83px;
  width:132px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:350px;
  top:86px;
  width:70px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:70px;
  top:854px;
  width:1010px;
  height:220px;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:220px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:32px;
  top:204px;
  width:928px;
  height:479px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:479px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:0px;
  width:240px;
  height:24px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:500px;
  top:0px;
  width:148px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:144px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:648px;
  top:0px;
  width:160px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:807px;
  top:0px;
  width:157px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:963px;
  top:0px;
  width:157px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1120px;
  top:0px;
  width:157px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1276px;
  top:0px;
  width:130px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:300px;
  top:0px;
  width:200px;
  height:24px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1405px;
  top:0px;
  width:130px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:-1px;
  top:23px;
  width:1674px;
  height:99px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:62px;
  top:0px;
  width:239px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:301px;
  top:0px;
  width:200px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:501px;
  top:0px;
  width:148px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:649px;
  top:0px;
  width:160px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:809px;
  top:0px;
  width:156px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:965px;
  top:0px;
  width:155px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1120px;
  top:0px;
  width:159px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1279px;
  top:0px;
  width:129px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1408px;
  top:0px;
  width:129px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u70 {
  position:absolute;
  left:2px;
  top:9px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1537px;
  top:0px;
  width:132px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:34px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:34px;
  width:62px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:62px;
  top:34px;
  width:239px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:301px;
  top:34px;
  width:200px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:501px;
  top:34px;
  width:148px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:649px;
  top:34px;
  width:160px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:809px;
  top:34px;
  width:156px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:965px;
  top:34px;
  width:155px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1120px;
  top:34px;
  width:159px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1279px;
  top:34px;
  width:129px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1408px;
  top:34px;
  width:129px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1537px;
  top:34px;
  width:132px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:64px;
  width:62px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:62px;
  top:64px;
  width:239px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:301px;
  top:64px;
  width:200px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:501px;
  top:64px;
  width:148px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:649px;
  top:64px;
  width:160px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:809px;
  top:64px;
  width:156px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:965px;
  top:64px;
  width:155px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1120px;
  top:64px;
  width:159px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1279px;
  top:64px;
  width:129px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1408px;
  top:64px;
  width:129px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1537px;
  top:64px;
  width:132px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:60px;
  top:24px;
  width:240px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:1535px;
  top:0px;
  width:130px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
